body {
  font-family: Arial, sans-serif;
 background: linear-gradient(90deg, rgba(0, 61, 87, 1) 23%, rgba(0, 125, 52, 1) 81%);
  margin: 0;
  padding: 127px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #b6b3b3;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(240, 0, 0, 0.986);
  width: 300px;
  
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #1ba300;
  &:hover {
    background-color: #757474;
  }
}

.output {
  margin-top: 15px;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  font-weight: bold;
}

#listaPainel {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #00a100;
  color: rgb(0, 0, 0);
}

#listaPainel li {
  padding: 5px;
  margin-bottom: 5px;
  background: #ddd;
  border-radius: 4px;
  &:hover {
    background-color: #919191;
  }
}
